@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ui1zyh');
  src:  url('../fonts/icomoon.eot?ui1zyh#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ui1zyh') format('truetype'),
    url('../fonts/icomoon.woff?ui1zyh') format('woff'),
    url('../fonts/icomoon.svg?ui1zyh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-elec20:before {
  content: "\e900";
}
.icon-elec30:before {
  content: "\e901";
}
.icon-elec50:before {
  content: "\e902";
}
.icon-access:before {
  content: "\e903";
}
.icon-Amps:before {
  content: "\e904";
}
.icon-Bus:before {
  content: "\e905";
}
.icon-Cable-TV:before {
  content: "\e906";
}
.icon-Car:before {
  content: "\e907";
}
.icon-Elec:before {
  content: "\e908";
}
.icon-Fire:before {
  content: "\e909";
}
.icon-Grill:before {
  content: "\e90a";
}
.icon-guests:before {
  content: "\e90b";
}
.icon-Mountains:before {
  content: "\e90c";
}
.icon-Partial-Shade:before {
  content: "\e90d";
}
.icon-Pets:before {
  content: "\e90e";
}
.icon-River:before {
  content: "\e90f";
}
.icon-RV:before {
  content: "\e910";
}
.icon-Sewer:before {
  content: "\e911";
}
.icon-Shade:before {
  content: "\e912";
}
.icon-Sun:before {
  content: "\e913";
}
.icon-Table:before {
  content: "\e914";
}
.icon-Tent:before {
  content: "\e915";
}
.icon-Toilet .path1:before {
  content: "\e916";
  color: rgb(0, 0, 0);
}
.icon-Toilet .path2:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Toilet .path3:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Toilet .path4:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Toilet .path5:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-trailer:before {
  content: "\e91b";
}
.icon-Trash:before {
  content: "\e91c";
}
.icon-Water:before {
  content: "\e91d";
}
.icon-Wifi:before {
  content: "\e91e";
}
